<div class="form-group mb-3">
    <label for="title">Titre</label>
    <input required value="<%= formation.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="description">Description</label>
    <textarea required name="description" id="description" class="form-control"><%= formation.description %></textarea>
</div>
<div class="form-group mb-3">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= formation.markdown %></textarea>
</div>
<div class="form-group mb-3">
    <label for="location">Lieu de la formation</label>
    <input required value="<%= formation.location %>" type="text" name="location" id="location" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="centerTime">Durée en centre</label>
    <input required value="<%= formation.centerTime %>" type="number" name="centerTime" id="centerTime" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="companyTime">Durée en entreprise</label>
    <input required value="<%= formation.companyTime %>" type="number" name="companyTime" id="companyTime" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="validationType">Type de validation</label>
    <input required value="<%= formation.validationType %>" type="text" name="validationType" id="validationType" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="actionType">Numéro d’action</label>
    <input required value="<%= formation.actionType %>" type="text" name="actionType" id="actionType" class="form-control">
</div>
<div class="form-group mb-3">
    <label for="centerId">Numéro d’identification du centre</label>
    <input required value="<%= formation.center_id %>" type="number" name="centerId" id="centerId" class="form-control">
</div>


<a href="/" class="btn btn-secondary mt-2">Annuler</a>
<button type="submit" id="validBtn" class="btn btn-primary mt-2">Valider</button>