<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)"
        href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <title>Formations App</title>
</head>

<body>
    <div class="container">

        <div class="card border-info">

            <h1 class="mb-4 ms-2">Modification de la formation</h1>
            <form action="/formations/<%= formation.id %>?_method=PUT" method="POST" class="p-4">
                <%- include('_form_fields') %>
            </form>

        </div>

    </div>
</body>

</html>