<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)"
        href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <title>Formations App</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">Formations : </h1>
        <a href="/formations/new" class="btn btn-success">Nouvelle Formation</a>


        <% formations.forEach(formation=> { %>

            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= formation.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= formation.createdAt.toLocaleDateString('fr-FR') %>
                    </div>
                    <div class="card-text mb-2">
                        <%= formation.description %>
                    </div>
                    <a href="formations/<%= formation.slug %>" class="btn btn-primary">Détails</a>
                    <a href="formations/edit/<%= formation.id %>" class="btn btn-info">Modifier</a>
                    <form method="POST" action="/formations/<%= formation.id %>?_method=DELETE" class="d-inline">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>

            <% }) %>

    </div>

</body>

</html>