<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)"
        href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <title>Formations App</title>
</head>

<body>
    <div class="container">

        <div class="card border-primary mt-3 mx-auto" style="min-width: 50%; max-width: 100%;">
            <div class="card-header">Informations relatives à la formation</div>
            <div class="card-body">
                <h1 class="card-title">
                    <%= formation.title %>
                </h1>
                <p class="card-text"><small class="text-muted fst-italic">Créée le <%=
                            formation.createdAt.toLocaleDateString() %></small></p>

                <p class="card-text"><%- formation.sanitizedHTML %>
                        <!-- ce tag permet d’afficher les données en html brut --></p>
            </div>

            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Informations Supplémentaires
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Lieu de formation : <%= formation.location %>
                                </li>
                                <li class="list-group-item">Durée en centre : <%= formation.centerTime %> heures</li>
                                <li class="list-group-item">Durée en entreprise : <%= formation.companyTime %> heures</li>
                                <li class="list-group-item">Type de validation : <%= formation.validationType %>
                                </li>
                                <li class="list-group-item">Numéro d’action : <%= formation.actionType %>
                                </li>
                                <li class="list-group-item">Centre n° <%= formation.center_id %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <a href="/" class="btn btn-secondary">Toutes les formations</a>
                <a href="/formations/edit/<%= formation.id %> " class="btn btn-info">Modifier</a>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>